<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style>
		*{
			margin: 0;
			padding: 0;
		}
		.head_content{
			background:#1e79e0 ; 
			height: 50px;
			overflow: hidden;
		}
		.head_l{
			float: left;
			height: inherit;
			line-height: 50px;
			padding-left: 20px;
			
		}
		.head_r{
			float: right;
			height: inherit;
			line-height: 50px;
			padding-right: 20px;
		}
		
	</style>
	<body>
		<header>
			<div class="head_content">
				<div class="head_l">
					head_l
				</div>
				<div class="head_r">
					head_r
				</div>
			</div>
		</header>
	</body>
</html>
