<!DOCTYPE html>
<!-- 查询日志信息，url:/lgs/logs -->
<!-- /optionclient/system/ismp_log_query.html-->
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<title>系统配置</title>
		<link rel="stylesheet" th:href="@{/css/reset.css}" href="css/reset.css" />
		<link rel="stylesheet" th:href="@{/css/ismp_configure.css}" href="css/ismp_configure.css" />
		<link rel="stylesheet" th:href="@{/css/ismp_configure.css}" href="css/kdfluency.css" />
		<link rel="shortcut icon" th:href="@{/img/Keda icon-2.ico}" href="img/Keda icon-2.ico" />
		<script type="text/javascript" th:src="@{/js/jquery-1.11.0.js}" src="js/jquery-1.11.0.js"></script>

		<!-- bootstrap -->
		<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}" src="bootstrap/js/bootstrap.js"></script>
		<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" href="bootstrap/css/bootstrap.css" />

		<!-- bootstrap table -->
		<script type="text/javascript" th:src="@{/bootstrap/table/bootstrap-table.js}" src="bootstrap/table/bootstrap-table.js"></script>
		<link rel="stylesheet" th:href="@{/bootstrap/table/bootstrap-table.css}" href="bootstrap/table/bootstrap-table.css" />
		<script type="text/javascript" th:src="@{/bootstrap/table/locale/bootstrap-table-zh-CN.js}" src="bootstrap/table/locale/bootstrap-table-zh-CN.js"></script>
	</head>

	<body STYLE='OVERFLOW:SCROLL;OVERFLOW-X:HIDDEN;OVERFLOW-Y:HIDDEN;'>
		<div id="web">
			<header class="main_header" id="head_sec" style="background: #1e79e0;">
				<div class="head">
					<div class="kdf_logo" id="headertitle"> 安防设备接入网关</div>
					<div class="kdf_navbar">
						<div class="navbar_custom_menu">
							<ul class="navbar_nav">
								<li class="dropdown messages_menu open" style="visibility: hidden;"><span id="curMsg">0 </span></li>
								<li id="dropdown" class="dropdown user user_menu">
									<a href="#" data-toggle="dropdown">
										<img class="user_image" alt="User Image" src="img/cims_03.png">
										<span id="headerspan" name="headerspan">
					              	<span id="curUserId" style="display: none;">24e11182b96911e7a2d4000c29e4</span>
										<span id="curUserName" class="hidden_xs" style="color: #fff;">超级管理员</span>
										</span>
									</a>
								</li>

							</ul>
						</div>
					</div>
				</div>

			</header>
			<section id="content">
				<!-- 当前页面所属url，用于菜单的实时转换 -->
				<input id="belong_option_id" type="hidden" value="05" />
				<div class="cont_wrap a15_cont_top">
					<div class="cont_l" style="">
						<div class="l_sidebar">
							<div class="sidebar section">
								<div class="sidebar_box">
									<div class="header">
										<h1>安防设备接入网关</h1></div>
									<div class="log_query" style="">
										<div class="scy_query scytodoor">
											设备查询
										</div>
										<div class="sq_alarm scytodoor">
											告警主机
										</div>
										<div class="sq_door scytodoor">
											门禁主机
										</div>
										<div class="sys_man scytodoor">
											系统管理
										</div>
										<div class="sm_cfg scytodoor">
											系统配置
										</div>
										<div class="sm_def scytodoor">
											系统维护
										</div>

									</div>
								</div>

							</div>
						</div>
					</div>
					<!--  右边部分-->
					<div class="cont_r" id="cont_r">
						<div class="data_warp" style="height:100%">

							<div class="cd_cont" style="height:100%;">
								<!-- 上下 7 3布局 start-->
								<!-- 上下 7 3布局 top start-->
								<div class="col_tb_n73_t col_pbottom">
									<div class="comm_box" style="float: left;">
										<div class="box_body_nohead" style="overflow: auto;">
											<div class="accept_mes_cfg_wrap web_card_cfg">
												<h4 >网卡配置</h4>
											<div class="web_card wc"> <span class="wd_w"> 网卡别名:</span> <input type="text" /></div>
											<div class="web_card_ip wc"> <span class="wd_w"> IP地址:</span> <input type="text" /> </div>
											<div class="web_card_code wc"> <span class="wd_w"> 子网掩码:</span> <input type="text" /></div>
											<div class="web_card_door wc"><span class="wd_w"> 网关:</span> <input type="text" /></div>
											</div>
											
											<div class="accept_mes_cfg_wrap">
												<h4 >接入配置信息</h4>
											<div class="accept_cfg_id ac"> <span class="wd_w"> 网关Id:</span> <input type="text" /></div>
											<div class="accept_cfg_user ac"> <span class="wd_w"> 用户名:</span> <input type="text" /> <span class="wd_w"> 密码:</span> <input type="text" /></div>
											
											
											<h4 class="server_list">服务器列表</h4>
											<!-- 巡更路径插入的地方 -->
											<div class="tb_w">
											<table id="tb_patrol_plan"></table>
											</div>
											</div>
											<!--<div class="restart webdoor_common">重启接入网关</div>-->
											<div class="clearfix"></div>
											
											
											
											
											<!--<img style="width:100%;height:100%;" th:src="@{/img/patrolmap/cell_plane.png}" />-->
										</div>
									</div>
								</div>
								<!-- 上下 7 3布局 top end-->
								<!-- 上下 7 3布局 bottom start-->
								<div class="col_tb_n73_b">

								</div>
								<!-- 上下 7 3布局 bottom end-->
								<!-- 上下 7 3布局 end-->
							</div>
						</div>
					</div>
				</div>
				<!--endWeb-->
				<script th:inline="javascript">
					/*<![CDATA[*/
					var TableInit = function () {
				var oTableInit = new Object();
				//初始化Table
				oTableInit.Init = function () {
					$('#tb_patrol_plan').bootstrapTable({
						url: '/patrol/patrolplans',         //请求后台的URL（*）
						method: 'get',                      //请求方式（*）
					    //toolbar: '',             //工具按钮用哪个容器
					    striped: true,                      //是否显示行间隔色
					    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
					    pagination: true,                   //是否显示分页（*）
					    sortable: false,                    //是否启用排序
					    sortOrder: "asc",                   //排序方式
					    queryParams: oTableInit.queryParams,//传递参数（*）
					    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
					    pageNumber:1,                       //初始化加载第一页，默认第一页
					    pageSize: 5,                       //每页的记录行数（*）
					    pageList: [5, 10, 15, 20],        //可供选择的每页的行数（*）
					    search: false,                     //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
					    strictSearch: true,
					    showColumns: false,                  //是否显示所有的列
					    showRefresh: false,                  //是否显示刷新按钮
					    minimumCountColumns: 5,            //最少允许的列数
					    clickToSelect: true,                //是否启用点击选中行
					    height: 300,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
					    uniqueId: "id",                     //每一行的唯一标识，一般为主键列
					    showToggle:false,                   //是否显示详细视图和列表视图的切换按钮
					    cardView: false,                    //是否显示详细视图
					    detailView: false,                   //是否显示父子表
					    columns: [{
					        checkbox: true
					    },{
					        field: 'id',
					        title: '预案ID',
					    }, {
					        field: 'name',
					        title: '预案名称'
					    }, {
					        field: 'startTime',
					        title: '开始时间'
					    }, {
					        field: 'endTime',
					        title: '结束时间'
					    }, {
					        field: 'status',
					        title: 'status'
					    }, {
					        field: 'statusName',
					        title: '状态'
					    },{
					        field: 'people',
					        title: '巡更人员'
					    }, {
					        field: 'timeSpan',
					        title: '巡更时长'
					    }, {
					        field: 'errTime',
					        title: '误差时间'
					    },{
					        field: 'type',
					        title: '巡更方式'
					    },{
					        field: 'linkStatus',
					        title: '联动状态'
					    }]
					});
					        
					$('#tb_patrol_plan').bootstrapTable('hideColumn', 'id');
					$('#tb_patrol_plan').bootstrapTable('hideColumn', 'status');
				};
					    
				//得到查询的参数
				oTableInit.queryParams = function (params) {
					var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
					    pagesize: params.limit,   //页面大小
					    pageindex: params.offset,  //页码
					    name: $("#planName").val()
					};
					return temp;
				};
					    
					return oTableInit;
				};
				    
				$(document).ready(function() {
					//1.初始化Table
					var oTable =  TableInit();
					oTable.Init();
				});
					//});	//doc ready over
					/*	]]>*/
				</script>
			</section>
		</div>
	</body>

</html>